/* --------- CSS Reset --------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------- Page Styling ------------------- */

:root {
    --primary-colour: #3F72AF;
    --accent-colour: #F9F7F7;
    --background-colour: #DBE2EF;
}

.container {
    display: grid;
    grid-template-columns: minmax(210px, 240px) 1fr;
    grid-template-rows: 120px 1fr;

    background-color: var(--background-colour);
    min-height: 100vh;
}

.icon {
    width: 24px;
}

/* ---------- side-bar ---------- */
.side-bar {
    grid-column-start: 1;
    grid-row: 1/-1;

    display: grid;
    grid-template-rows: 48px 288px 144px 1fr;
    gap: 32px;

    background-color: var(--primary-colour);
    color: var(--accent-colour);
    fill: var(--accent-colour);
}

.side-bar-segment {
    display: grid;
    grid-template-columns: 48px 1fr;
    place-items: center;
    column-gap: 8px;

    box-sizing: content-box;
    margin-inline: 8px;
}

.side-bar-segment > span {
    width: 100%;
}

    .logo {
        grid-template-rows: repeat(1, 1fr);
    }

        /* logo */
        .logo-icon {
            width: 42px;
        }
        
        .logo-title {
            font-size: 1.75rem;
            font-weight: 600;
        }

    .user-links {
        grid-template-rows: repeat(6, 1fr);
    }

    .support-links {
        grid-template-rows: repeat(3, 1fr);
    }

        /* side-bar links */
        .link-title {
            font-size: 1.25rem;
            font-weight: 600;
        }

/* ---------- top-bar ---------- */
.top-bar {
    display: grid;
    grid-template-rows: 1fr 1fr;

    background-color: var(--accent-colour);
    box-shadow: 0px 2px 4px 0px black;
    clip-path: inset(0px 0px -10px 0px);
    /* margin-bottom: 10px; */
}

.top-bar-segment {
    margin-inline: 40px;
    display: flex;
    justify-content:space-between;
    align-content: center;
    height: 100%;
    gap: 16px;
}

    /* top */
        .search-bar {
            display: grid;
            grid-template-columns: 1fr 12fr;
            place-items: center;
            gap: 16px;
        }

            .search-field {
                width: max(150px, 100%);
                height: 24px;
                border-radius: 20px;
                border-style: none;
                background-color: var(--background-colour);
            }

            .search-button {
                border-style: none;
                background-color: transparent;
                padding-top: 6px;
            }

        .user-bar {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            place-items: center;
            gap: 16px;
        }

            .user-bar-username {
                font-size: 1rem;
                font-weight: 600;
            }

            .user-bar > .profile-icon {
                width: 36px;
            }

    /* bottom */
        .user-greeting {
            display: grid;
            grid-template-columns: 1fr 4fr;
            place-items: center;
            gap: 16px;
            text-wrap: nowrap;
        }

            .user-greeting > .profile-icon {
                width: 52px;
            }

            .user-greeting > div {
                width: 100%;
                font-weight: 600;
            }

                .user-greeting-greet {
                    font-size: 0.8rem;

                }

                .user-greeting-username {
                    font-size: 1.25rem;
                }

        .user-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
            gap: 16px;
        }

            .user-buttons > button {
                border-width: 0px;
                border-radius: 20px;
                padding: 6px;
                width: 80px;
                font-size: 0.7rem;
                font-weight: 600;
                background-color: var(--primary-colour);
                color: var(--accent-colour);
            }


.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10fr 1fr;
}

/* main-content */
.main-content {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: 30px repeat(3, 4fr);
}

    .subtitle {
        grid-column: 1/-1;
    }

.others {
    display: grid;
    grid-template-columns:  4fr;
    grid-template-rows: 30px 5fr 30px 5fr;
}

/* card layouts */
.card {
    display: grid;
    grid-template-columns: 20px 1fr;

    box-sizing: border-box;
    margin: 10px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 4px black;
}

    .card-stripe {
        grid-row: 1;

        background-color: yellow;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .card-content {
        margin: 20px;
    }

.announcement-layout {
    display: grid;
    grid-template-columns: 1fr;
}

    .announcement-layout > .card-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

.trending-layout {
    display: grid;
    grid-template-columns: 1fr;
}

    .trending-layout > .card-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

/* content */
.trend {
    display: grid;
    grid-template-columns: 1fr 3fr;
}